body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

nav a {
	color: #3f51b5 !important;
}

nav .input-field label i {
	color: #3f51b5 !important;
}

#search-input {
	width: 450px;
}

#search {
	display: inline-flex;
    padding-left: 30%;
}


.select-wrapper {
	padding-top: 8px;
	padding-left: 10px;
}
input[type=text]:not(.browser-default) {
	border-bottom: none;
}
